<h1> Sassy! </h1>

<% if current_user %>
  <p> You are logged in as <%= current_user.email %> </p>
<% end %>

<ul>
  <% @questions.each do |question| %>
    <li>
      <%= question.body %><%= link_to "Answer", new_question_answer_path(question) %>
      <% if question.answers.any? %>
        <ul>
          <% question.answers.each do |answer| %>
            <li><%= answer.body %></li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>
<p><%= link_to "Ask a Question", new_question_path %></p>
<% if !current_user %>
  <p><%= link_to "New User", new_user_path %></p>
  <p><%= link_to "Log in", log_in_path %></p>
<% end %>
<p><%= link_to "Log Out", log_out_path %></p>
